﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="extrAanvr.aspx.cs" Inherits="WebApplication8.extrAanvr" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" name="form1" action="opslaanExtrAanvr.aspx">
    <img src="logo.jpg" width="200px" />
    
    <div id="options">
        
        <b><u>Periode afwezigheid</u></b><br /><br />
        Van <input type="text" readonly="readonly" runat="server" id="txtVan" onchange="formSend();document.getElementById('change').value='1';" /> Tot
        <input type="text" readonly="readonly" runat="server" id="txtTot" onchange="formSend();document.getElementById('change').value='1';" /><br /><hr />
        <b><u>Tijdstip</u></b><br />
        <br />
        
        <input type="hidden" id="aanvrId" runat="server" />
        <input type="radio" runat="server" id="vm" name="wanneer" value="2" onfocus="document.getElementById('van').disabled=true;document.getElementById('tot').disabled=true;document.getElementById('change').value='1';" />Voormiddag<br />
        <input type="radio" runat="server" id="nm" name="wanneer" value="3" onfocus="document.getElementById('van').disabled=true;document.getElementById('tot').disabled=true;document.getElementById('change').value='1';" />Namiddag<br />
        <input type="radio" runat="server" id="vt" name="wanneer" value="0" onfocus="document.getElementById('van').disabled=false;document.getElementById('tot').disabled=false;document.getElementById('change').value='1';" />Van
        <input type="text" id="van" runat="server"  size="4" onchange="document.getElementById('change').value='1';" /> 
        Tot&nbsp;<input type="text" runat="server" id="tot"  size="4" onchange="document.getElementById('change').value='1';" /><br />
        <hr />
        <b><u>Opname van</u></b><br /><br />
        <div runat="server" id="ucats">
        </div>
        
        <input type="submit" runat="server" id="opslaan" value="Opslaan" onclick="document.getElementById('change').value='0';" />
        <input type="button" value="Afsluiten" id="afsluit" 
            onclick="javascript:window.opener='x';window.close()" /><input type="button" style="visibility:hidden" runat="server" value="Extra aanvraag toevoegen" id="extrAanvrButton" />
        <input type="hidden" id="change" /><input type="hidden" id="extraId" />
    </div>
    </form>
</body>
</html>
