﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="mailtest.aspx.cs" Inherits="WebApplication8.mailtest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <table>
    <tr><td bgcolor="red">aaaa</td></tr>
    </table>
    </form>
</body>
</html>
